<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="/" />
  <meta content="true" name="HandheldFriendly" />
  <meta content="width" name="MobileOptimized" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <link rel="shortcut icon" href="../assets/static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../assets/static/favicon.ico" type="image/x-icon">
  <title>webpack-build</title>
  <meta name="title" content="Описание...">
  <meta name="description" content="Описание...">
  <meta name="theme-color" content="#FFFFFF" />
</head>

<body id="root" class="preload">
<!--------------------HEADER--------------------------->
<%= require('html-loader!./part/header.html').default %>
<!--------------------END-HEADER----------------------->

<!--------------------MAIN-CONTAINER------------------->
<section class="layout">

</section>
<!--------------------END-MAIN-CONTAINER--------------->

<!--------------------FOOTER--------------------------->
<%= require('html-loader!./part/footer.html').default %>
<!--------------------END-FOOTER----------------------->
</body>
</html>
