# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/releases

# dbdata
/dbdata

# misc
old-styles
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env

# phpstorm project files
.idea
